$default: #436372;
$number: #e81111;
// $title: #1a1a1a;

%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Rubick-400 {
  font-family: 'Rubick-Regular', sans-serif;
  font-weight: 400;
}

%Rubick-500 {
  font-family: 'Rubick-Medium', sans-serif;
  font-weight: 500;
}

%Rubick-700 {
  font-family: 'Rubick-Bold', sans-serif;
  font-weight: 700;
}